* {
  margin: 0;
  padding: 0;
  border: none;

  box-sizing: border-box;

  text-decoration: none;
  list-style-type: none;

}



header img ,.container-principal-background{
  margin: 0px 50px;
  margin-left:231px;
  margin-top: 39.1px;
  height: 26.9px;
  width: 90.6px;
  opacity: 100%;
}

header a  { 
  margin: 0px 72px;
  margin-left: 15px;
}

.container-principal-background{ 
  width: 940px;
  height: 366px;
  background-color:#FBDFDB;
  border-radius:30px;

}
.container-principal-background h1{
   padding-left: 60px;
   padding-top: 117px ;
}

.container-principal-background p { 
   padding-left: 60px;
   padding-top: 10px;
}

.container-img{ 
  margin: -174px 640px
}

.receitas p { 
  margin: 0px 50px;
  margin-left:231px;
  padding-top: 10px;

}




