@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



* {
  margin: 0;
  padding: 0;
  border: none;
  

  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

}


header img ,.container-principal-background{
  margin: 0px 50px;
  margin-left:231px;
  margin-top: 39.1px;
  height: 26.9px;
  width: 90.6px;
  opacity: 100%;
}

header a  { 
  margin: 0px 72px;
  margin-left: 15px;
}

.container-principal-background{ 
  width: 940px;
  height: 366px;
  background-color:#FBDFDB;
  border-radius:30px;

}
.container-principal-background h1{
   padding-left: 60px;
   padding-top: 117px ;
}

.container-principal-background p { 
   padding-left: 60px;
   padding-top: 10px;
}

.container-img{ 
  margin: -174px 640px
}

.receitas p { 
  margin: 0px 50px;
  margin-left:231px;
  padding-top: 50px;
  font-size: 24px;
  font-family: "Roboto-Bold",sans-serif;
  color: #111111;

}

.cards { 
  max-width:940px;
  margin:0px 50px;
  margin-left:231px ;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.image-container img { 
  width: 300px;
  height: 140px;
  border-radius: 15px;
   

}

.content-img p { 
   margin-top: 20px;

}

.card-chef p{ 
  margin-top: 5px;

}


.resumo-titulo p  {
  padding-left: 231px;
  padding-top: 50px;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;

}


.resumo-txt p {
  display: block;
  width: 940px;
  height: 280px;
  padding-left: 231px;
  padding-top: 20px;
  font-family: 'Roboto-regular', sans-serif;
  line-height: 28px;
  font-size: 18px;
  opacity: 100%;

}

.inicio-titulo p { 
  padding-left: 231px;
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #111111;

}

.inicio-txt p { 
font-family: Roboto-Regular;
font-size: 18px;
color: #444444;
line-height: 28px;


}

.receita-titulo p { 
  padding-left: 231px;
  padding-top: 30px;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #111111;

}


.receita-txt p  { 

width: 940px;
height: 112px;
padding-left: 231px;
padding-top: 30px;
font-size: 18px;   
font-family: 'Roboto-Regular';
font-size: 18px;
color: #444444;
line-height: 28px;

}

.cor-fundo-bg { 
  width: 62px;
  height: 1400px;
  background-color:#EEEEEE 100%;
}







   


